:root {
  --color-black: black;
  --color-gray: #585858;
  --color-blue: rgb(53, 85, 146);
  --color-yellow: #ffc017;
  --color-orange: #f39c11;
  --color-white: white;
  --color-light-blue: #f1f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.2;
  color: #333;
}

/************************navbar***********************/

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.8s;
}

.navbar.scrolled {
  background-color: var(--color-blue);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  scroll-behavior: smooth;
  border-bottom: 0.5px solid var(--color-light-blue);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  width: 250px;
  margin-left: 5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 18%;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-links a.active {
  color: var(--color-yellow); /* Tıklanınca değişecek renk */
}

.nav-links a:hover {
  color: var(--color-yellow);
}

.join-btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.join-btn:hover {
  background-color: var(--color-blue);
}

/************************hero-section***********************/
.hero-section {
  height: 90vh;
  background: url("/Images/hero-man.jpg") no-repeat center center/cover;

  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  padding: 0 12rem;
}

.hero-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.hero-btn {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: #2b4580;
}

.hero-section h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.hero-section p {
  line-height: 1.4;
  font-weight: 600;
  font-size: 1.5rem;
  word-break: break-all;
  margin-bottom: 10px;
  max-width: 1000px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 5px;
}

.hero-buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.hero-buttons .btn {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-buttons .btn-secondary {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: var(--color-white);
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
  background-color: var(--color-orange);
}

.hero-buttons .btn-secondary:hover {
  background-color: var(--color-orange);
}

/************************info-section***********************/

.info-section {
  background-color: var(--color-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16%;
}

.info-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  margin: 30px 30px;
  text-align: center;
}

.box p {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0;
  color: var(--color-blue);
}
.box span {
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--color-black);
}

/************************Our-Classes-section***********************/
.container-our-classes {
  background: linear-gradient(-105deg, rgb(246, 246, 246) 58%, white 45%);
}
.our-classes {
  text-align: center;
  height: max-content;
  padding: 2rem 0;
  position: relative;
}
.our-classes h2 {
  margin-top: 4rem;
  color: var(--color-blue);
  font-size: 2.2rem;
  position: relative;
}
.our-classes p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  max-width: 600px;
  margin: 40px auto 0 auto;
}
.our-classes h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.button-our-classes {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.btn {
  background-color: var(--color-blue);
  display: flex;
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  padding: 5px 20px;
  margin: 0 10px;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  justify-content: center;
  cursor: pointer;
}

.btn-active {
  background-color: var(--color-yellow);
  box-shadow: 0 0 10px rgba(243, 156, 18, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-active::after {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  background-color: var(--color-yellow);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
}

.content {
  padding: 4rem 16rem;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

.text-section {
  max-width: 50%;
  color: var(--color-gray);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-section h2 {
  font-size: x-larger;
  font-weight: 800;
}

.text-section .p-info {
  padding-right: 12%;
  word-break: break-all;
  line-height: 1.5rem;
  font-weight: 700;
}
.text-section .p-date {
  line-height: 3rem;
  font-weight: 700;
}

.image {
  text-align: center;
  padding-top: 5%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 1%;
}

/* BMI Calculator Section */
/* BMI Calculator Section */
.bmi-section {
  background-color: #fff;
}

.bmi-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 4rem;
  position: relative;
}

.bmi-text {
  flex: 1;
}

.bmi-text h2 {
  font-size: 40px;
  color: var(--color-blue);
}

.bmi-text p {
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 700;
  color: #333;
  margin: 10px 0;
  padding-right: 24%;
  word-break: break-all;
}

.bmi-text form {
  margin-top: 20px;
}

.bmi-text form input {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px 5px 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bmi-image {
  position: relative;
  flex: 1;
  padding-left: 20px;
  text-align: center;
}

.bmi-image h3 {
  color: var(--color-black);
}

.bmi-image span {
  font-weight: 600;
  color: var(--color-orange);
}

.bmi-image img {
  max-width: 100%;
}

.triangle {
  position: absolute;
  bottom: -1.5rem;
  width: 5%;
  height: 10%;
  background-color: var(--color-orange);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Our Best Trainers Section */
.container-our-best-trainers {
  text-align: center;
  background-color: var(--color-light-blue);
  width: 100%;
  padding: 4rem;
}

.our-best-trainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-best-trainers h2 {
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: 2rem;
  position: relative;
}

.our-best-trainers h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.our-best-trainers p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.best-trainer-cards {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
  z-index: 2;
}

.trainer-card img {
  display: block;
  width: 100%;
  height: auto;
  border: solid 2px;
  border-color: var(--color-orange);
  border-radius: 10px;
}

.trainer-card {
  position: relative;
  border: 5px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.trainer-card::before,
.trainer-card::after {
  position: absolute;
  content: "";
  z-index: -1;
}

.trainer-card::before {
  top: -5%;
  left: -5%;
  background-color: var(--color-blue);
  width: 110%;
  height: 110%;
  clip-path: inset(1.5% 30% 1.5% 30%);
  transition: clip-path 0.5s ease;
}

.trainer-card::after {
  top: -5%;
  left: -5%;
  background-color: var(--color-blue);
  width: 110%;
  height: 110%;
  clip-path: inset(30% 1% 30% 1%);
  transition: clip-path 0.5s ease;
}

.trainer-card:hover::before {
  animation: ceylan-x 2s linear forwards;
}

.trainer-card:hover::after {
  animation: ceylan-y 2s linear forwards;
}

@keyframes ceylan-y {
  0% {
    clip-path: inset(25% 0 25% 0);
  }
  50% {
    clip-path: inset(0% 0 0% 0);
  }
  100% {
    clip-path: inset(25% 0 25% 0);
  }
}

@keyframes ceylan-x {
  0% {
    clip-path: inset(0% 25% 0% 25%);
  }
  50% {
    clip-path: inset(0% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 25% 0% 25%);
  }
}

.trainer-info {
  position: absolute;
  bottom: 1rem;
  width: 90%;
  left: 5%;
  transform: translateX(-50%);
  clip-path: polygon(
    0 20%,
    14% 20%,
    14% 0%,
    86% 0%,
    86% 20%,
    100% 20%,
    100% 80%,
    86% 80%,
    86% 100%,
    14% 100%,
    14% 80%,
    0 80%
  );
  background-color: var(--color-blue);
  color: white;
  text-align: center;
  padding: 1.9rem;
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.trainer-card:hover .trainer-info {
  opacity: 1;
  transform: scaleY(1);
}

/* Purshase from us section*/

.container-purchase-from-us {
  text-align: center;
  background-color: var(--color-white);
  width: 100%;
  padding: 4rem;
}

.purchase-from-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purchase-from-us h2 {
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: 2rem;
  position: relative;
}

.purchase-from-us h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.purchase-from-us p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 0 0 3rem;
}

.card {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: calc(25% - 2rem);
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.card-body {
  padding: 1rem 0 0 0;
  text-align: center;
}

.product-name {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.price {
  font-size: 0.8rem;
  font-weight: bolder;
  color: var(--color-black);
  margin-bottom: 20px;
}
.price span {
  text-decoration: line-through;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  transition: background-color 0.2s;
}

.add-to-cart i {
  margin-right: 0.5rem;
}

.add-to-cart:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.card:hover {
  transform: translateY(-5px);
}

/* Review Client section*/

.container-review-client {
  text-align: center;
  background-color: var(--color-light-blue);
  width: 100%;
  padding: 4rem 3rem 7rem 3rem;
}

.review-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-client h2 {
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: 2rem;
  position: relative;
}

.review-client h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.review-client p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.all-clients {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.client {
  padding-top: 15px;
  width: 500px;
  text-align: start;
}
.client-info {
  display: flex;
  align-items: center;
  padding: 25px 20px 10px 25px;
  text-align: start;
}
.client-job-title {
  display: grid;
  gap: 0.5rem;
  padding: 8px;
}

.client-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.client-p {
  width: 450px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  word-break: break-all;
  background-color: var(--color-blue);
  text-align: start;
  color: var(--color-white);
  position: relative;
  padding: 20px;
  margin: auto;
}

.client-p::before {
  content: "";
  position: absolute;
  background-color: rgb(152, 165, 189);
  left: 0;
  top: 100%;
  width: 40px;
  height: 35px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.client-p::after {
  content: "";
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: rgb(152, 165, 189);
  right: 0;
  top: 100%;
  width: 40px;
  height: 35px;
}

/* Contact-Us section*/

.container-contact-us {
  text-align: center;
  background-color: var(--color-white);
  width: 100%;
  padding: 4rem 0;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-us h2 {
  color: var(--color-blue);
  font-size: 2rem;
  margin-top: 2rem;
  position: relative;
}

.contact-us h2::after {
  content: " ";
  width: 100px;
  height: 6px;
  background-color: #ffc017;
  position: absolute;
  border-radius: 20px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-us p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-gray);
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.contact-info {
  display: flex;
  justify-content: start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.info-item {
  text-align: left;
  color: var(--color-gray);
}
.info-item h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.info-item p {
  font-size: 0.8rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 450px;
  margin-bottom: 2rem;
}
.contact-form h3 {
  color: var(--color-gray);
  font-weight: 600;
  font-size: larger;
  text-align: left;
  padding-bottom: 1rem;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--color-light-blue);
  border-radius: 5px;
}
.contact-form textarea {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: var(--color-light-blue);
  border: none;
  border-radius: 5px;
}

.container-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: auto;
  max-width: 1000px;
}

.container-left {
  margin-left: 0;
  width: 450px;
  flex: 1;
}

.container-right {
  margin-left: 0;
  width: 450px;
  flex: 1;
}

.googleMap {
  width: 100%;
  border-radius: 2px;
}

/*Footer section */
.container-footer {
  background-color: var(--color-blue);

  padding: 20px;
}

.footer-content-top {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  max-width: 1000px;
}

.footer-content-top p {
  color: var(--color-white);
  font-size: small;
  height: auto;
}

.footer-links {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  justify-items: start;
}

.footer-links h3 {
  color: var(--color-white);
  font-size: larger;
  font-weight: 500;
  margin: 20px auto 10px auto;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;

  font-size: small;
}

.footer-column ul li a {
  color: var(--color-white);
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

/*responsive design (mobil- 576px)*/
@media (max-width: 576px) {
  /* Purshase from us section*/
  .card-container {
    padding: 0;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .add-to-cart {
    gap: 1rem;
    padding: 10px 112.3px;
  }
}
